$backgroundColor: darken($color: white, $amount: 30%);
$borderSize: 4px;

$media-desktop: "only screen and (max-width : 1024px)";
$media-tablet: "only screen and (max-width : 768px)";
$media-mobile-galaxy-fold: "only screen and (max-width : 280px)";

